# demo data
projects*/
data/
mergin_db
diagnostic_logs

logs
*.log
.DS_Store
*.stackdump

# dependencies
deps/
.idea
*.iml

venv/
.vscode

# production env
.prod.env
.sso.env

# generated documentation
gen

# pyenv
.python-version
web-app/.node-version

# datadir for database
mergin-db-ce

docker-compose.local.yml

# SSO
*.pem
*.crt
