version: "3.7"
networks:
  merginmaps:

services:
  db:
    image: postgres:14
    container_name: merginmaps-db
    restart: always
    networks:
      - merginmaps
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./mergin_db:/var/lib/postgresql/data
  redis:
    image: redis
    container_name: merginmaps-redis
    restart: always
    networks:
      - merginmaps
  server:
    image: lutraconsulting/merginmaps-backend:2023.2.0
    container_name: merginmaps-server
    restart: always
    user: 901:999
    volumes:
      - ./projects:/data
    env_file:
      - .prod.env
    depends_on:
      - db
      - redis
    networks:
      - merginmaps
  web:
    image: lutraconsulting/merginmaps-frontend:2023.2.0
    container_name: merginmaps-web
    restart: always
    depends_on:
      - server
    links:
      - db
    networks:
      - merginmaps
  proxy:
    image: nginx
    container_name: merginmaps-proxy
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./projects:/data  # map data dir to host
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - merginmaps
