# This file should contain a set of Mergin Maps configuration definitions along with their default values


FLASK_APP=application

# Required for access of your server
#MERGIN_BASE_URL=http://localhost:5000

#DEBUG=FLASK_DEBUG | False
FLASK_DEBUG=0

#LOCAL_PROJECTS=os.path.join(config_dir, os.pardir, os.pardir, 'projects')  # for local storage type
LOCAL_PROJECTS=/data

#MAINTENANCE_FILE=os.path.join(LOCAL_PROJECTS, 'MAINTENANCE')  # locking file when backups are created
MAINTENANCE_FILE=/data/MAINTENANCE

#SWAGGER_UI=False  # to enable swagger UI console (for test only)

#TEMP_DIR=gettempdir()  # trash dir for temp files being cleaned regularly
TEMP_DIR=/data/tmp

# Mergin DB related

#DB_APPLICATION_NAME=mergin

#DB_DATABASE=mergin

DB_HOST=db

DB_PASSWORD=postgres

#DB_POOL_MAX_OVERFLOW=10  # max_overflow set to SQLAlchemy default https://docs.sqlalchemy.org/en/14/core/engines.html

#DB_POOL_SIZE=2

#DB_POOL_TIMEOUT=300

#DB_PORT=5002
DB_PORT=5432

#DB_USER=postgres

#SQLALCHEMY_DATABASE_URI=postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_DATABASE}?application_name={DB_APPLICATION_NAME}'

#SQLALCHEMY_ENGINE_OPTIONS={'pool_size': DB_POOL_SIZE, 'max_overflow': DB_POOL_MAX_OVERFLOW, 'pool_timeout' DB_POOL_TIMEOUT}

#SQLALCHEMY_TRACK_MODIFICATIONS=False


# auth related

#SECRET_KEY=NODEFAULT
SECRET_KEY=fixme

#BEARER_TOKEN_EXPIRATION=3600 * 12  # in seconds

#SECURITY_BEARER_SALT=NODEFAULT
SECURITY_BEARER_SALT=fixme

#SECURITY_EMAIL_SALT=NODEFAULT
SECURITY_EMAIL_SALT=fixme

#SECURITY_PASSWORD_SALT=NODEFAULT
SECURITY_PASSWORD_SALT=fixme

#WTF_CSRF_ENABLED=True

#WTF_CSRF_TIME_LIMIT=3600 * 24  # in seconds


# Mail configuration

MAIL_SUPPRESS_SEND=0

# Sender of emails
# MAIL_DEFAULT_SENDER=fixme@example.com

# SMTP server url address
# MAIL_SERVER=example.smtp.com

# SMTP server port
# MAIL_PORT=587

# SMTP server username
# MAIL_USERNAME=

# SMTP server password
# MAIL_PASSWORD=

# Default True
# MAIL_USE_TLS=True

# Default False
# MAIL_USE_SSL=False

#MAIL_BCC=''

#MERGIN_LOGO_URL=  # for link to logo in emails

#MAIL_DEBUG=MAIL_SUPPRESS_SEND | False



# data sync

#BLACKLIST='.mergin/, .DS_Store, .directory'  # cast=Csv()

#FILE_EXPIRATION=48 * 3600  # for clean up of old files where diffs were applied, in seconds

#LOCKFILE_EXPIRATION=300  # in seconds

#MAX_CHUNK_SIZE=10 * 1024 * 1024  # 10485760 in bytes

# data download

#MAX_DOWNLOAD_ARCHIVE_SIZE=1024 * 1024 * 1024 * 10  # max total files size in bytes for archive download - 10 GB

#USE_X_ACCEL=False  # use nginx (in front of gunicorn) to serve files (https://www.nginx.com/resources/wiki/start/topics/examples/x-accel/)
USE_X_ACCEL=1

#PARTIAL_ZIP_EXPIRATION=600 # in seconds

#PROJECTS_ARCHIVES_DIR=LOCAL_PROJECTS/projects_archives  # where to store archives for download

# days for which archive is ready to download
# PROJECTS_ARCHIVES_EXPIRATION=7 # in days

# If use x-accel buffering by download (no/yes)
# PROJECTS_ARCHIVES_X_ACCEL_BUFFERING="no"

# geodif related

# where geodiff lib copies working files
#GEODIFF_WORKING_DIR=$LOCAL_PROJECTS/geodiff_tmp
GEODIFF_WORKING_DIR=/data/geodiff
GEODIFF_LOGGER_LEVEL=2

# celery

#BROKER_URL=redis://172.17.0.1:6379/0
BROKER_URL=redis://merginmaps-redis:6379/0

#BROKER_TRANSPORT_OPTIONS={}  # cast=eval
BROKER_TRANSPORT_OPTIONS={ 'master_name': 'mymaster' }

#CELERY_RESULT_BACKEND=redis://172.17.0.1:6379/0'
CELERY_RESULT_BACKEND=redis://merginmaps-redis:6379/0

#CELERY_ACKS_LATE=False
#CELERY_ACKS_LATE=True

# set to number of cpu
#CELERYD_CONCURRENCY=2

# Deprecated from 2024.7.0, use CELERYD_CONCURRENCY instead after 2024.7.0
# CELERY_WORKER_CONCURRENCY=1

#CELERYD_PREFETCH_MULTIPLIER=4
#CELERYD_PREFETCH_MULTIPLIER=4

# Deprecated from 2024.7.0, use CELERYD_PREFETCH_MULTIPLIER instead after 2024.7.0
#CELERY_WORKER_PREFETCH_MULTIPLIER=4

#CELERY_ROUTES={} # split tasks into separate queues

# various life times

#ACCOUNT_EXPIRATION=5  # time in days after user closed his account to all projects and files are permanently deleted
ACCOUNT_EXPIRATION=1

#DELETED_PROJECT_EXPIRATION=7  # lifetime of deleted project, expired project are removed permanently without restore possibility, in days

#PROJECT_ACCESS_REQUEST=7 * 24 * 3600

#TEMP_EXPIRATION=7  # time in days after files are permanently deleted


# for links generated in emails and callbacks


# Statistics related

#COLLECT_STATISTICS True

#SERVICE_ID # should be random uuid

# global workspace related bits

# GLOBAL_WORKSPACE mergin

# GLOBAL_STORAGE 1024 * 1024 * 1024
GLOBAL_STORAGE=10737418240

# GLOBAL_READ False - Everyone will be "guest", you need to share projects with them explicitly

# GLOBAL_WRITE False

# GLOBAL_ADMIN False

# toggle registration form to create new users
#USER_SELF_REGISTRATION=False

# Gunicorn server socket
PORT=5000

GEVENT_WORKER=True
# Deprecated from 2024.7.0, replacement is to set GEVENT_WORKER=True
NO_MONKEY_PATCH=False

# Diagnostic logs

DIAGNOSTIC_LOGS_DIR=/diagnostic_logs

