// =========================================================
// * Vuetify Material Dashboard - v2.1.0
// =========================================================
//
// * Product Page: https://www.creative-tim.com/product/vuetify-material-dashboard
// * Copyright 2019 Creative Tim (https://www.creative-tim.com)
//
// * Coded by Creative Tim
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

.v-card
  border-radius: 6px
  margin-top: 30px
  margin-bottom: 15px

  .card-title
    font-size: 18px

  .v-card--material__heading
    top: -30px

    .text-subtitle-1
      color: hsla(0, 0%, 100%, .8)

    .text-h3
      font-size: 18px !important

  .text-caption
    font-size: 12px !important
    letter-spacing: 0 !important

  .v-card__actions
    padding-top: 15px

    .text-h3
      font-size: 18px !important

  .v-divider
    border-color: #eee

  .ct-label
    font-size: 14px

.v-card--material-chart .v-card--material__heading .ct-label
  font-weight: 300


.v-btn--icon.v-size--default .v-icon,
.v-btn--fab.v-size--default .v-icon
  font-size: 18px

.v-card--material .v-image
  .v-image__image
    border-radius: 6px

.v-card__title
  font-size: 18px
  padding-top: 7px
  padding-bottom: 2px

.theme--light
  .v-card > .v-card__text
    color: #333

  .card-title
    color: #3c4858

.theme--dark
  .card-title
    color: #fff


.v-timeline-item .v-card
  margin-top: 0

.v-card--wizard
  .v-tabs-bar
    height: 42px

  .v-card__actions
    .v-btn
      margin-right: 0 !important

  .v-tabs .v-tab--active:hover::before, .theme--light.v-tabs .v-tab--active::before
    opacity: 0

  .v-tabs .v-tab:hover::before
    opacity: 0

.v-card--plan
  .text-body-2
    font-weight: 500
    letter-spacing: 0 !important
    margin-top: 10px
    margin-bottom: 8px

  .text-h3
    margin-top: 30px

  .v-card__text
    color: #999
    margin-bottom: 16px

  .v-btn
    margin-right: 0 !important

  .v-avatar
    margin-top: 10px

.v-card--testimony
  .v-card__text
    color: #999 !important

  .text-h3
    font-size: 18px !important

  .text-body-2
    font-weight: 500
    font-size: 12px !important

  .v-avatar
    left: calc(50% - 50px)

.ct-square:before
  float: none
