// =========================================================
// * Vuetify Material Dashboard - v2.1.0
// =========================================================
//
// * Product Page: https://www.creative-tim.com/product/vuetify-material-dashboard
// * Copyright 2019 Creative Tim (https://www.creative-tim.com)
//
// * Coded by Creative Tim
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

.v-footer
  padding: 20px 0 20px 4px
  border-top: 1px solid #e7e7e7 !important
  position: relative

  a
    padding: 15px 18px 15px 16px
    font-size: 12px !important

  .text-body-1
    font-size: 16px !important
    padding-right: 18px
    letter-spacing: 0px !important

    a
      color: #9c27b0 !important
      padding: 0
      text-transform: inherit !important
      font-size: 16px !important
      font-weight: 300 !important

  .v-icon
    margin-top: -3px

  &.v-footer--absolute
    position: absolute !important

.theme--light.v-footer
  background-color: transparent

  .text-body-1
    color: #3c4858

  .v-icon
    color: #3c4858
