// =========================================================
// * Vuetify Material Dashboard - v2.1.0
// =========================================================
//
// * Product Page: https://www.creative-tim.com/product/vuetify-material-dashboard
// * Copyright 2019 Creative Tim (https://www.creative-tim.com)
//
// * Coded by Creative Tim
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

.v-alert
  padding: 20px 15px

  .v-alert__wrapper
    .v-alert__icon
      height: 38px
      min-width: 38px

    .v-alert__content
      font-weight: 300

      span
        font-size: 12px
        font-weight: 500
