{% extends "email/components/content.html" %}
{% block html %}
  <p>Dear {{ user.username }},</p> <br>
  <p>Your profile has been updated as follows:</p>
  <p>
      <ul>
          {% for key, value in changes.items() %}
              <li>
                  <b>{{ key }}</b> :
                  {{ value['before'] }} &#8594;
                  {% if value['after'] == None %}
                      <i>N/A</i>
                  {% else %}
                      {{ value['after'] }}
                  {% endif %}
              </li>
          {% endfor %}
      </ul>
  </p>
{% endblock %}
