{% extends "email/components/content.html" %}
{% block html %}
  <p>
    Not sure where to start? Have a look on our quick start guide:
    <a href="https://help.cloudmergin.com/quick-start.html"> https://help.cloudmergin.com/quick-start.html</a>
  </p> <br>
  <p>
    <a href="https://help.cloudmergin.com/faq.html">
      https://help.cloudmergin.com/faq.html
    </a> <br>
    For some of the common questions, see: <br>
    <a href="https://help.inputapp.io/faq">
      https://help.inputapp.io/faq
    </a>
  </p>
{% endblock %}