# This file should contain a full set of Mergin Maps configuration
# definitions along with their default values

FLASK_APP=application
GEODIFF_LOGGER_LEVEL=2
CONTACT_EMAIL=fixme


# ALL VERSIONS #########################################################################################################

#DEBUG=FLASK_DEBUG | False

#LOCAL_PROJECTS=os.path.join(config_dir, os.pardir, os.pardir, 'projects')  # for local storage type
LOCAL_PROJECTS=/data

#MAINTENANCE_FILE=os.path.join(LOCAL_PROJECTS, 'MAINTENANCE')  # locking file when backups are created
MAINTENANCE_FILE=/data/MAINTENANCE

#PROXY_FIX=True

#SECRET_KEY=NODEFAULT
SECRET_KEY=fix-me

#SWAGGER_UI=False  # to enable swagger UI console (for test only)

#TEMP_DIR=gettempdir()  # trash dir for temp files being cleaned regularly
TEMP_DIR=/data/tmp

#TESTING=False

#USER_SELF_REGISTRATION=True


# Mergin DB related

#DB_APPLICATION_NAME=mergin

DB_HOST=db

DB_PASSWORD=postgres  # fixme

#DB_POOL_MAX_OVERFLOW=10  # max_overflow set to SQLAlchemy default https://docs.sqlalchemy.org/en/14/core/engines.html

#DB_POOL_SIZE=2

#DB_POOL_TIMEOUT=300

#DB_PORT=5002
DB_PORT=5432

#DB_USER=postgres

#SQLALCHEMY_DATABASE_URI=postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_DATABASE}?application_name={DB_APPLICATION_NAME}'

#SQLALCHEMY_ENGINE_OPTIONS={'pool_size': DB_POOL_SIZE, 'max_overflow': DB_POOL_MAX_OVERFLOW, 'pool_timeout' DB_POOL_TIMEOUT}

#SQLALCHEMY_TRACK_MODIFICATIONS=False


# auth related

#BEARER_TOKEN_EXPIRATION=3600 * 12  # in seconds

SECURITY_BEARER_SALT=fixme
SECURITY_EMAIL_SALT=fixme
SECURITY_PASSWORD_SALT=fixme

#WTF_CSRF_ENABLED=True

#WTF_CSRF_TIME_LIMIT=3600 * 24  # in seconds


# for flask mail

#MAIL_BCC=NODEFAULT
MAIL_BCC=fixme

#MAIL_DEBUG=MAIL_SUPPRESS_SEND | False

#MAIL_DEFAULT_SENDER=NODEFAULT
MAIL_DEFAULT_SENDER=fixme

#MAIL_PASSWORD=NODEFAULT
MAIL_PASSWORD=fixme

#MAIL_PORT=587

#MAIL_SERVER=localhost
MAIL_SERVER=fixme

#MAIL_SUPPRESS_SEND=True

#MAIL_USE_TLS=True

#MAIL_USERNAME=NODEFAULT
MAIL_USERNAME=fix-me


# data sync

#BLACKLIST='.mergin/, .DS_Store, .directory'  # cast=Csv()

#FILE_EXPIRATION=48 * 3600  # for clean up of old files where diffs were applied, in seconds

#LOCKFILE_EXPIRATION=300  # in seconds

#MAX_CHUNK_SIZE=10 * 1024 * 1024  # 10485760 in bytes

# data download

#MAX_DOWNLOAD_ARCHIVE_SIZE=1024 * 1024 * 1024  # max total files size in bytes for archive download

#USE_X_ACCEL=False  # use nginx (in front of gunicorn) to serve files (https://www.nginx.com/resources/wiki/start/topics/examples/x-accel/)
USE_X_ACCEL=1

#PARTIAL_ZIP_EXPIRATION=600 # in seconds

#PROJECTS_ARCHIVES_DIR=LOCAL_PROJECTS/projects_archives  # where to store archives for download

# days for which archive is ready to download
# PROJECTS_ARCHIVES_EXPIRATION=7 # in days

# If use x-accel buffering by download (no/yes)
# PROJECTS_ARCHIVES_X_ACCEL_BUFFERING="no"

# celery

#BROKER_URL=redis://172.17.0.1:6379/0
BROKER_URL=redis://merginmaps-redis:6379/0

#BROKER_TRANSPORT_OPTIONS={}  # cast=eval
BROKER_TRANSPORT_OPTIONS={ 'master_name': 'mymaster' }

#CELERY_RESULT_BACKEND=redis://172.17.0.1:6379/0'
CELERY_RESULT_BACKEND=redis://merginmaps-redis:6379/0

#CELERY_RESULT_BACKEND_TRANSPORT_OPTIONS={}  # cast=eval
CELERY_RESULT_BACKEND_TRANSPORT_OPTIONS={ 'master_name': 'mymaster' }

#CELERY_ACKS_LATE=False
CELERY_ACKS_LATE=True

# set to number of cpu
#CELERYD_CONCURRENCY=1
CELERYD_CONCURRENCY=2

#CELERYD_PREFETCH_MULTIPLIER=4
CELERYD_PREFETCH_MULTIPLIER=4


# various life times

#ACCOUNT_EXPIRATION=5  # time in days after user closed his account to all projects and files are permanently deleted
ACCOUNT_EXPIRATION=1

#DELETED_PROJECT_EXPIRATION=7  # lifetime of deleted project, expired project are removed permanently without restore possibility, in days

#ORGANISATION_INVITATION_EXPIRATION=7 * 24 * 3600  # in seconds

#PROJECT_ACCESS_REQUEST=7 * 24 * 3600

#TEMP_EXPIRATION=7  # time in days after files are permanently deleted

#TRANSFER_EXPIRATION=7 * 24 * 3600  # in seconds


# for links generated in emails

#MERGIN_BASE_URL=http://localhost:5000
MERGIN_BASE_URL=fixme

#MERGIN_LOGO_URL=  # for link to logo in emails
MERGIN_LOGO_URL=fixme

# global workspace related bits - ignored in non-CE versions
# GLOBAL_WORKSPACE mergin

# GLOBAL_STORAGE 1024 * 1024 * 1024

# GLOBAL_READ False

# GLOBAL_WRITE False

# GLOBAL_ADMIN False

# EE ##############################################################################################################

# workspaces related bits
# WORKSPACE_STORAGE_SIZE 100 * 1024 * 1024

# WORKSPACE_INVITATION_EXPIRATION 7 days

# PROJECT_TRANSFER_EXPIRATION 7 days

# WORKSPACE_EXPIRATION = 7 days

# USER_SELF_REGISTRATION True

# USER_WORKSPACES_ALLOWED True

# MAPS #################################################################################################################

MAPS_ENABLED=True

OVERVIEW_DATA=/overviews

VECTOR_TILES_URL=https://tiles-ee.merginmaps.com/data/default/{z}/{x}/{y}.pbf

VECTOR_TILES_STYLE_URL=https://tiles-ee.merginmaps.com//styles/default.json

#QGIS_EXTRACTOR_API_URL=http://mergin-qgis-extractor:8000

#WMTS_SERVER_URL=http://mergin-qgis-nginx:80

#QGIS_EXTRACTOR_TIMEOUT=60

#OVERVIEW_MAX_FILE_SIZE=1048576 # 1MB

### Diagnostic logs from Mobile and QGIS Plugin
DIAGNOSTIC_LOGS_DIR=/diagnostic_logs

### SSO ################################################################################################################
SSO_ENABLED=False

# public URL of the SSO server, used for redirecting users to SSO login page
SSO_SERVER_URL=http://localhost:8081

# api key used for internal calls to SSO server.
# SSO_SERVER_API_KEY=fixme

# internal URL of the api server, used for internal calls to polis API
# SSO_SERVER_API_URL=http://merginmaps-proxy:8081

# internal URL of the SSO server, used for internal calls to polis Oauth API
# SSO_SERVER_INTERNAL_URL=http://merginmaps-proxy:8081

# by default token is alive for 14 days (use seconds as unit
# SSO_SESSION_EXPIRATION=14 * 24 * 3600

# This should be the same as SSO connection Product field in admin panel.
# Default value is mergin-maps-product string
# SSO_SERVER_PRODUCT_ID=mergin-maps-product
