form {
  padding: 16px 16px 16px 0;
  display: flex;
  flex-direction: column;
}
.md-input-container {
  /*margin: 24px 0;*/
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.md-input-container label {
  min-width: 140px;
  display: inline-block;
  font-size: 15px;
  opacity: 0.75;
  line-height: 32px;
}
input {
  display: inline-block;
  border-color: #ccc;
  border-width: 0 0 1px 0;
  font-size: 17px;
  outline: none;
  height: 32px;
  transition: all .4s cubic-bezier(.25,.8,.25,1);
  transition-property: border-color;
  padding-bottom: 1px;
  box-sizing: border-box;
  background-color: transparent;
  flex: 1;
  max-width: 360px;
  background-color: #f9f9f9;
}
input:focus {
  border-color: #1e88e5;
  padding-bottom: 0;
  border-width: 0 0 2px 0;
}
.md-button[type="submit"] {
  margin: 12px;
  float: right;
}
ul.errorlist {
  color: #F4511E;
  padding-left: 0;
  list-style: none;
  font-size: 14px;
  margin: 4px 0;
}
.info {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 50%;
  right: -24px;
  bottom: 6px;
  color: orange;
  border: 1px solid currentColor;
  text-align: center;
  user-select: none;
}
.description {
  position: absolute;
  background-color: #fff;
  border: 1px solid #aaa;
  z-index: 100;
  right: -20px;
  bottom: 32px;
  max-width: 300px;
  min-width: 300px;
  border-radius: 3px;
}
.info:not(:hover) + .description {
  display: none;
}

@media (max-width: 500px) {
  .md-input-container {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .md-input-container input {
    width: 100%;
    max-width: initial;
  }
}