.DS_Store
node_modules
dist/
types/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# cypress
packages/saas-app/cypress/videos
packages/saas-app/cypress/snapshots/**/__diff_output__
packages/saas-app/cypress/snapshots/All Integration Specs
packages/saas-app/cypress/fixtures/test_dir
packages/saas-app/cypress/downloads
packages/saas-app/cypress/screenshots

# TypeScript cache
*.tsbuildinfo
