[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui"],version = "==2.14.1"}
flask = "==2.2.5"
python-dateutil = "==2.8.2"
flask-marshmallow = "==0.14.0"
marshmallow-sqlalchemy = "==1.1.0"
psycopg2-binary = "==2.9.3"
itsdangerous = "==2.2.0"
requests-toolbelt = "==1.0.0"
Flask-SQLAlchemy = "==2.5.1"
sqlalchemy = "==1.4.53"
zipfly = "==6.0.3"
gunicorn = {extras = ["gevent"],version = "==19.9"}
python-dotenv = "==0.20.0"
flask-login = "==0.6.2"
bcrypt = "==4.2.0"
wtforms = {extras = ["email"],version = "==3.1.2"}
flask-wtf = "==1.0.1"
flask-mail = "==0.9.1"
safe = "==0.4"
flask-migrate = "==2.6.0" # 3.1.0
wtforms-json = "==0.3.5"
pytz = "==2022.2.1"
scikit-build = "==0.15.0"
pygeodiff = "==1.0.6"
pathvalidate = "==3.2.0"
celery= "==5.4.0"
redis= "==4.3.4"
result = "==0.5"
jsons = "==1.6.3"
binaryornot = "==0.4.4"
python-decouple = "==3.6"
urllib3 = "==2.2.2"
shapely = "==2.0.5"
psycogreen = "==1.0.2"
importlib-metadata = "==8.2.0"  # https://github.com/pallets/flask/issues/4502
typing_extensions= "==4.12.2"
# requirements for development on windows
colorama = "==0.4.5"

[dev-packages]
pytest = "==8.3.2"
pytest-cov = "==5.0.0"
pylint = "==2.15.0"
responses = "==0.21.0"
pytest-dotenv= "==0.5.2"
pysqlite3-binary= "==0.5.2"
# requirements for pytest on windows
atomicwrites = "==1.4.0"

[requires]
python_version = "3.10"
